@media (max-width: 1200px) {

}
@media (max-width: 800px) {
    .newsheader {
        font-size: 3vw;
    }
    .newstext {
        font-size: 1.5vw;
    }
    .newslink {
        font-size: 1.5vw;
    }
    
}
@media (max-width: 460px) {
    .footer {
        margin-top: 10vh;
    }
    .menualts {
        font-size: 2vw;
    }
    .newsheader {
        font-size: 3vw;
    }
    .newstext {
        font-size: 1.5vw;
    }
    .newslink {
        font-size: 1.5vw;
    }
}
@media (max-width: 400px) {
    .footer {
        margin-top: 25vh;
    }
}

@media (max-width: 350px) {
    .footer {
        margin-top: 40vh;
    }
}


@media (min-height: 730px) {
    .footer {
        margin-top: 40vh;
    }
    .menualts {
        font-size: 2vw;
    }
    .newsheader {
        font-size: 3vw;
    }
    .newstext {
        font-size: 1.5vw;
    }
    .newslink {
        font-size: 1.5vw;
    }
}