@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,300&display=swap');

.body {
    margin: 0%;
    background-color: #c0c0c0;
    height: 100%;
}
.div1 {
    width: 10%;
    float: left;
}
.menu {
    background-color: #234278;
    background-image: url(./headerpicture.png);
    background-repeat: no-repeat;
    background-size: 70%;
}

.title {
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    font-size: 3.5vw;
    margin: 0%;
    padding-top: 1%;
    color: #f0f4f8;
}
.space1 {
    padding-top: 1%;
    margin: 0;
}
.menualts {
    text-align: center;
    font-size: 2vw;
    font-family: 'JetBrains Mono', monospace;
    padding-left: 2%;
}
.menualtsind {
    padding-right: 2%;
    color: #f0f4f8;
    text-decoration: none;
}
.space2 {
    margin: 0;
    padding-bottom: 1%;
}






.content {
    padding-top: 0%;
    
}
.newscontainer {
    background-color: #aaaaaa;
    margin: 2%;
    font-family: 'JetBrains Mono', monospace;
}
.space3 {
    margin: 0px;
    padding-top: 2%;
}
.newsimage {
    width: 25vw;
    padding-right: 2%;
    padding-bottom: 2%;
    float: left;
}
.newscontent {
    overflow: auto;
    margin: 0%;
}
.newscontent::after {
    content: "";
    clear: both;
    display: table;
}
.newsheader {
    text-align: center;
    font-size: 3vw;
    color: #f0f4f8;
    margin: 0%;
}
.newsheadersmall {
    text-align: center;
    font-size: 2vw;
    color: #f0f4f8;
    margin: 0%;
}
.newstext {
    text-align: left;
    margin-left: 2%;
    margin-right: 5%;
    margin-top: 1%;
    font-size: 1.5vw;
    color: #f0f4f8;
}
.newslink {
    text-align: left;
    margin-right: 5%;
    margin-top: 1%;
    font-size: 1.5vw;
    color: #f0f4f8;
    text-decoration: none;
}
.space4 {
    margin: 0%;
    padding-bottom: 10%;
}



.footer {
    background-color: #242424;
    width: 100%;
    position: static;
    left: 0;
    bottom: 0;
    margin-top: 2vh;
}
.footerimage {
    text-align: center;
}
.creditimage {
    margin-top: 2%;
    width: 90%;
}



.table {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5vw;
    color: #f0f4f8;
    text-decoration: none;
    width: 75%;
    font-family: 'JetBrains Mono', monospace;
}
.th {
    text-align: left;
    padding: 2%;
}
.td {
    text-align: left;
    padding: 2%;
    padding-top: 0%;
    color: #f0f4f8;
    text-decoration: none;
}